Data/Example/1_log_no_obst/
T-LESS
LM-O
Data/Example/outputs/
Data/Example/Testbilder/
Data/Example/Testing
Data/Example/outputs/sam6d_results/RandomOutputs
Instance_Segmentation_Model/checkpoints/
Pose_Estimation_Model/checkpoints/
*.blend